<!Doctype HTML><html>
	<head>
	<title>priyanka c</title>
	<link rel="stylesheet" type="text/css" href="static/style.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body style="background: #E0E0E0;">
   <div class="navbar no-print">
        <a href="/resume" style="font-size: 40px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
         <div class="dropdown">
          <button class="dropbtn">Instructions<i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <ol class="li"><li>To "Edit" the resume ,you can just point the mouse pointer and just edit the text</li>
                <li>To "Delete" you can just select the lines to be deleted and press "Delete key"</li>
               </ol>
          </div>
    </div>
	  <div class="dropdown">
		<button class="dropbtn" onclick="window.print()">Print as PDF
		</button>
		</div>
</div>
	<div class="box-outer" contenteditable="true">
		<div class="resume-box">
			<div>
				<div class="col-sm-6">
					
					<h1 class="name">priyanka c<br/></h1>
					<p class="name_p">Student</p>
				</div>
				<div class="col-sm-6">
					<div style="float: left;">
						<p class="contat_p">
							<i class="fa fa-home fontfa"></i>
							&nbsp; #332/3,hallashalli road, varthur, bangalore &nbsp;
							<i class="fa fa-envelope fontfa"></i>
							&nbsp; Email : priyankachandrashekar2001@gmail.com &nbsp;
							<i class="fa fa-phone fontfa"></i>
							&nbsp; Phone 9483106792
						</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<br/>
				<hr/>
				<br/>
				<h1 class="head">Objective</h1>
				<p class="para-2">
					i intend to be part of an organization where i can constantly learn and develop my technical and management skills and make best use of it for the growth of the organization
				</p>
			</div>
			<hr/>
			<br/>

			<div class="box-1">
				<div class="content">
					<h1 class="head">Education</h1>
					<br/>
					<ul>
						<li>
							<p class="para-1">(2019-2023)<br/>btech<br/>computer science and engineering</p>
							<p class="para-2"> 9.15</p>
						</li>
						<li>
							<p class="para-1">(2019)<br/>12th</p>
							<p class="para-2"> 90.50</p>
						</li>
						<li>
							<p class="para-1">( 2017)<br/>10th</p>
							<p class="para-2"> 79.68</p>
						</li>
				
					</ul>

					<h1 class="head">Skills</h1>
					<br/>
					<ul>
						<li>
							<p class="para-2"> python</p>
						</li>
						<li>
							<p class="para-2">java</p>
							
						</li>
						<li>
							<p class="para-2"> html</p>
							
						</li>
						<li>
							<p class="para-2">css</p>
							
						</li>
					</ul>
				</div>
			</div>
			<div class="box-2">
				<div class="content-2">
					<h1 class="head">Project Details</h1>
					<br/>
					<ul>
						<li>
							<p class="para-1"> farm management system</p>
							<p class="para-2">
								 html,css,python,js,xamp
							</p>
							<p class="para-2">
								 the objective of the project is to provide farmers a platform to display and sell their farm products and for the customers to buy these products at lower price without the third party being invloved.
							</p>
						</li>
				</div>
			</div>
			<div class="box-2">
				<div class="content-2">
					<h1 class="head">Work Experience</h1>
					<br/>
					<ul>
						<li>
							<p class="para-1"> java developer</p>
							<p class="para-2">
								 6d
							</p>
							<p class="para-2">
								 I had worked on a client project where the project was 89% better than the existing system. 
							</p>
						</li>
				</div>
			</div>
			<div class="box-2">
				<div class="content-2">
					<h1 class="head">Certifications</h1>
					<br/>
					<ul>
						<li>
							<p class="para-1"> AICTE student learning assessment</p>
							
						</li>
						<li>
						<p class="para-1"> spoken tutorial</p>
							</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	</body>
	</html>